---
import Container from "./Container.astro";

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
      <div class="blur-[64px] h-106 bg-gradient-to-br from-purple-700 to-purple-900 dark:from-indigo-800 dark:to-purple-900"></div>
      <div class="blur-[64px] h-64 bg-gradient-to-r from-purple-500 to-purple-700 dark:from-indigo-700 dark:to-purple-800"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
          <div class="flex sm:column row gap-12">
            <div class="w-2/3 text-left mx-auto">
              <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Suas próprias aulas.</br><span class="text-primary dark:text-white">Da sua maneira!</span></h1>
              <p class="mt-8 text-gray-700 dark:text-gray-300">Alcance novos patamares com sua expertise e compartilhe conhecimento com milhões de pessoas em todo o mundo. Aqui, você encontrará uma plataforma fácil de usar e repleta de recursos para criar, gerenciar e comercializar seus cursos online!</p>
            </div>
            <img src="/images/hero-1.svg" class="w-1/3">
          </div>
          <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
              <a
                href="#about"
                class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
              >
                <span class="relative text-base font-semibold text-white"
                  >Saiba mais</span
                >
              </a>
              <a
                target="_blank"
                href="https://api.whatsapp.com/send?phone=5511991159753&text=Conver-se%20conosco%20e%20veja%20como%20a%20The%20Rockets%20pode%20ajuda-lo%20a%20vender%20mais!"
                class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
              >
                <span
                  class="relative text-base font-semibold text-primary dark:text-white"
                  >Começe agora</span
                >
              </a>
          </div>
        </div>
    </Container>
</div>